[submodule "Зависимости/LinguisticKit"]
	path = Зависимости/LinguisticKit
	url = https://github.com/fum-lab/LinguisticKit.git
	fumUpstream = https://github.com/Roman-Kerimov/LinguisticKit.git
[submodule "Зависимости/swift-crypto"]
	path = Зависимости/swift-crypto
	url = https://github.com/fum-lab/swift-crypto.git
	fumUpstream = https://github.com/apple/swift-crypto.git
[submodule "Зависимости/swift-asn1"]
	path = Зависимости/swift-asn1
	url = https://github.com/fum-lab/swift-asn1.git
	fumUpstream = https://github.com/apple/swift-asn1.git
